doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include partials/styles.pug
        link(rel="stylesheet", href="/css/auth.css")
        title Login
    body 
        div(class="background") 
            h1(class="heading") Criss Cross 
            div(class="main-container")
                div(class="criss-cross-vector")
                form(class="login-form" action="/user/login" method="POST")
                    h2(class="form-heading") Login
                    div(class="form-input")
                        label(for="username") username
                        input(type="text" id="username" name="username" autocomplete="off")
                    div(class="form-input")
                        label(for="password") password
                        input(type="password" id="password" name="password")
                    button(type="submit" class="submit-btn") Submit  

                    p(class="link-container") Don't have an account?
                        a(href="/user/register") Sign up

        include partials/footer.pug
        
        //-testing
        div(class="container small-container my-4")
            //- h1(class="text-center") login
            each success in successes
                div(class="alert alert-success alert-dismissible fade show" role="alert")
                    p=success
                    button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
            each error in errors
                div(class="alert alert-warning alert-dismissible fade show" role="alert")
                    p=error
                    button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")

        script(defer src="/scripts/login.js") 

            